:root{
    --primaryColor:#7a63f1;
    --blackColor: black;
    --secondryColor:  #dad9df;
    --textColor: #a3a3a3;
    --greyColor:#f4f4f4;
    --whiteColor:#f5f4fa;
    --blackColor:#434344;
}

.search{
    padding: 2rem 0;
    .title{
        color: var(--blackColor);
        font-size: 22px;
        padding: 1rem 0;
        text-align: center;
        font-weight: 700;
        line-height: 1.7rem;
    }   
        .searchDiv{
            display: flex;
            align-items: center;
            justify-content: center;
            flex-wrap: wrap;
            margin: 2px 10px;
            
            &>*{
                margin: 10px ;
                width: 40%;
                border-radius: 10px;
                padding: 5px 10px;
                outline: none;
                border: 0.2px solid --blackColor;
                &:focus{
                    border: none;
                    border: 1px solid --primaryColor;
                }
            }
        .icon{
            font-size: 15px;
        }
        .btn{
            justify-content: center;
            width: 100%;
            align-items: center;
            width: 20%;
            padding: 10px;
        }
        .flex{
            flex-wrap: wrap;
        }
    }
}

@media screen and (min-width:520px) {
    .search{
        .title{
            font-size: 25px;
            padding: 2rem 0;
        }

        .searchDiv{
            input{
                padding: 10px;
                font-weight: 600;
                color: var(--primaryColor);
            }
            .btn{
                justify-content: center;
                width: 100%;
                align-items: center;
                gap: 0.3rem;
                font-size: 18px;

                .icon{
                    font-size: 18px;
                }
            }
        }
    }
}

@media screen and (min-width:770px) {
    .search{
        .title{
            font-size: 30px;
            padding: 2rem 0;
        }

        .searchDiv{
        }
    }
}

@media screen and (min-width:1064px) {
    .search{
        width: 80%;
        margin: auto;
        .title{
            font-size: 30px;
            padding: 2rem 0;
        }
    }
}