@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Titillium+Web:wght@200;400;600&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: 0.2s ease-in-out ;
  font-family: 'Titillium Web', sans-serif ;
}
 // default style
 :root{
  --primaryColor:#7a63f1;
  --blackColor: black;
  --secondryColor:  #dad9df;
 }
.primaryBtn{
  background-color: var(--primaryColor);
}

.btn{
  border:none;
  padding: 10px 15px;
  border-radius: 10px;
  font-weight: 600;
  font-size: 12px;
  color: var(--blackColor);
  &:hover{
    background-color: var(--secondryColor);
  }
}